.listaPagina{
    margin: 0px;
    // background-image: url(../../../assets/img/grafitiWallpaper.png);
    width: 100%;
    padding-left: 25px;
}

.beerList{
    border-radius: 20px;
    padding: 10px;
}